<%= form_for(@kidsname) do |f| %>
  <% if @kidsname.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kidsname.errors.count, "error") %> prohibited this kidsname from being saved:</h2>

      <ul>
      <% @kidsname.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :rank %><br />
    <%= f.number_field :rank %>
  </div>
  <div class="field">
    <%= f.label :score %><br />
    <%= f.number_field :score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
