<%= form_for :kidsname, :url => update_multiple_kidsnames_path, :html => { :method => :put } do |form| %>

<ul>
  <% for kidsname in @editnames %>
  <li>
    <%= h kidsname.name %>
    <%= hidden_field_tag "kidsname_ids[]", kidsname.id%>
  </li>
  <% end %>
</ul>

<%= radio_button_tag(:score, -500) %>
    <%= form.label "Name/n ist/sind bereits vergeben" %>
<br>
<%= radio_button_tag(:score, -100) %>
    <%= form.label "Name/n ist/sind schlimm, weg damit!" %>

<br>



    <%= form.submit "Name(n) bearbeiten" %>

<% end %>