<%= form_for :kidsname, :url => update_multiple_kidsnames_path, :html => { :method => :put } do |form| %>



<table class="table" align="center"> <a name="all">

<% @editnames.each do |name| %>
  <tr class="tabledatarow">
  
    <td><%= radio_button_tag "editnames[#{name.id}]", -500, false %>
      <%= label_tag(:editnames, "Vergeben") %></td>
  
    <td><%= radio_button_tag "editnames[#{name.id}]", -100, false %>
      <%= label_tag(:editnames, "Schlimm") %></td>

    <td><%= radio_button_tag "editnames[#{name.id}]", nil, true %>
      <%= label_tag(:editnames, "Kann bleiben") %></td>
      
    <td>
      <% if name.gender == "f" %>
        <span class="girlsnames"><%= name.name %></span></td>
      <% else %>
        <span class="boysnames"><%= name.name %></span></td>
      <% end %>

  </tr>
<% end %>
</tbody>
</table>




    <%= form.submit "Name(n) bearbeiten" %>

<% end %>