
<ul class="nav navbar-nav">
  <li><button class="navbutton"><a href="#allgirls"><span class="glyphicon glyphicon-th-list"></span> Mädchennamen</a></button></li>
    <li><button class="navbutton"><a href="#allboys"><span class="glyphicon glyphicon-th-list"></span> Jungennamen</a></button></li>
  <li><button class="navbutton"><a href="#flop"><span class="glyphicon glyphicon-th-list"></span> Rausgeflogen</a></button></li>
  <li><button class="navbutton"><a href="#out"><span class="glyphicon glyphicon-th-list"></span> Außer Konkurrenz</a></button></li>
  <li><button class="navbutton"><span class="glyphicon glyphicon-plus"></span>
<%= link_to 'Neuer Name', new_kidsname_path %></button></li>
</ul>




<div class="clear"></div>

<div class="blocktableleft">
  <div class="tablebgdiv">
<a name="allgirls"></a>
<table class="table"> <a name="all">
 
    <thead><tr><b class="decoheading">Mädchen, noch im Rennen</b></tr></thead>
    <tbody>
    <th>Name</th>
    <th>Punkte</th>
    <th>Runden</th>
    <th></th>
  </tr>

<% @kidsnames = Kidsname.where ['gender = \'f\' AND score >= ?', -1] %>
<% @kidsnames = @kidsnames.all.sort_by(&:score).reverse! %>

<% @kidsnames.each do |kidsname| %>
  <tr class="tabledatarow">
    <td><span class="names"><%= kidsname.name %></span></td>
    <td><b><span class="btn"><%= kidsname.score %></span></b></td>
    <td><span class="btn"><%= kidsname.count %></span></td>
    <td><button class="navbutton"><span class="glyphicon glyphicon-pencil"></span><%= link_to 'edit', edit_kidsname_path(kidsname) %></button></td>
  
  </tr>
<% end %>
</tbody>
</table>
</div>
</div>




<div class="blocktableright">
    <div class="tablebgdiv">

<a name="allboys"></a>

<table class="table"> <a name="all">
 
    <thead><tr><b class="decoheading">Jungen, noch im Rennen</b></tr></thead>
    <tbody>
    <th>Name</th>
    <th>Punkte</th>
    <th>Runden</th>
    <th></th>
  </tr>

<% @boysnames = Kidsname.where [' gender = \'m\' AND score >= ?', -1] %>
<% @boysnames = @boysnames.all.sort_by(&:score).reverse! %>


<% @boysnames.each do |kidsname| %>
  <tr class="tabledatarow">
    <td><span class="names"><%= kidsname.name %></span></td>
    <td><b><span class="btn"><%= kidsname.score %></span></b></td>
    <td><span class="btn"><%= kidsname.count %></span></td>
 <td><button class="navbutton"><span class="glyphicon glyphicon-pencil"></span><%= link_to 'edit', edit_kidsname_path(kidsname) %></button></td>
  
  </tr>
<% end %>
</tbody>
</table>
</div>
</div>

<div class="clear"></div>

<div class="blocktableleft">
    <div class="tablebgdiv">

<a name="flop"></a>
<table class="table">
  <thead><tr>
        <b class="decoheading">Rausgeflogen</b></thead></tr></thead>
        <tbody>

    <th>Name</th>
    <th>Geschlecht</th>
    <th>Runden</th>
    <th></th>
    <th></th>
  </tr>

<% @flopnames = Kidsname.where ['score <= ?', -1] %>
<% @flopnames = @flopnames.where ['score > ?', -450] %>
<% @flopnames = @flopnames.all.sort_by(&:count).reverse! %>


<% @flopnames.each do |t| %>

  <tr class="tabledatarow">
    <td><span class="names"><%= t.name %></span></td>
    <td><span class="names"><%= t.gender %></span></td>
    <td><span class="names"><%= t.count %></span></td>
  
  </tr></tbody>
<% end %>
</table>
</div>
</div>

<a name="out"></a>


<div class="blocktableright">
    <div class="tablebgdiv">

<table class="table">
  
        <thead><tr><span class="decoheading">Außer Konkurrenz</span></tr></thead>
<tr>
    <th>Name</th>
    <th>Geschlecht</th>
    
    <th></th>
    <th></th>
  </tr>

<% @outnames = Kidsname.where ['score <= ?', -450] %>

<% @outnames.each do |t| %>

  <tr class="tabledatarow">
    <td><span class="names"><%= t.name %></span></td>
    <td><span class="names"><%= t.gender %></span></td>
    

  
  </tr>
<% end %>
</table>
</div>
</div>
<div class="clear"></div>
