
<ul>
  <li><a href="#all">Alle Namen</a></li>
  <li><a href="#flop">Rausgeflogen</a></li>
  <li><a href="#out">Außer Konkurrenz</a></li>
</ul>



<a name="all"></a>
<table class="table"> <a name="all">
 
    <thead><tr><b class="decoheading">Noch im Rennen</b></tr></thead>
    <tbody>
    <th>Name</th>
    <th>Score</th>
    <th>Count</th>
    <th></th>
    <th></th>
  </tr>

<% @kidsnames = Kidsname.where ['score >= ?', -1] %>
<% @kidsnames = @kidsnames.all.sort_by(&:score).reverse! %>


<% @kidsnames.each do |kidsname| %>
  <tr>
    <td><span class="names"><%= kidsname.name %></span></td>
    <td><b><span class="btn"><%= kidsname.score %></span></b></td>
    <td><span class="btn"><%= kidsname.count %></span></td>
    <td><button><%= link_to 'Show', kidsname %></button></td>
    <td><button><%= link_to 'Edit', edit_kidsname_path(kidsname) %></button></td>
  
  </tr>
<% end %>
</tbody>
</table>

<button><%= link_to 'Neuen Namen hinzufügen', new_kidsname_path %></button>



<a name="flop"></a>
<table class="table">
  <thead><tr>
        <b class="decoheading">Rausgeflogen</b></thead></tr></thead>
        <tbody>

    <th>Name</th>
    <th>Score</th>
    <th>Count</th>
    <th></th>
    <th></th>
  </tr>

<% @flopnames = Kidsname.where ['score <= ?', -1] %>
<% @flopnames = @flopnames.where ['score > ?', -450] %>
<% @flopnames = @flopnames.all.sort_by(&:count).reverse %>


<% @flopnames.each do |t| %>

     <tr>
    <td><%= t.name %></td>
    <td><%= t.score %></td>
    <td><%= t.count %></td>
  
  </tr></tbody>
<% end %>
</table>


<a name="out"></a>
<table class="table">
  
        <thead><tr><span class="decoheading">Außer Konkurrenz</span></tr></thead>
<tr>
    <th>Name</th>
    <th>Gender</th>
    
    <th></th>
    <th></th>
  </tr>

<% @outnames = Kidsname.where ['score <= ?', -450] %>

<% @outnames.each do |t| %>

     <tr>
    <td><%= t.name %></td>
    <td><%= t.gender %></td>
    

  
  </tr>
<% end %>
</table>

