
<a href="#allgirls" class="startvotingbutton"><span class="glyphicon glyphicon-thumbs-up"></span> Mädchennamen wählen</a>
<a href="#allboys" class="startvotingbutton"><span class="glyphicon glyphicon-thumbs-up"></span> Jungennamen wählen</a>

<div class="clear"></div>

<div class="decoheading">Ranglisten</div>
<ul class="nav navbar-nav">
  <li><button class="navbutton"><a href="#allgirls"><span class="glyphicon glyphicon-th-list"></span> Mädchennamen</a></button></li>
    <li><button class="navbutton"><a href="#allboys"><span class="glyphicon glyphicon-th-list"></span> Jungennamen</a></button></li>
  <li><button class="navbutton"><a href="#out"><span class="glyphicon glyphicon-th-list"></span> Rausgeflogen</a></button></li>
  <li><button class="navbutton"><a href="#taken"><span class="glyphicon glyphicon-th-list"></span> Außer Konkurrenz</a></button></li>

</ul>
<div class="clear"></div>


    <div class ="blocktableleft">  
      <div class="tablebgdiv">

<table class="table"> <a name="all">
 
    <thead><tr><b class="decoheading">Beliebteste Namen bisher</b></tr></thead>
    <tbody>
    <th>Name</th>
    <th>Punkte</th>
    <th>Runden</th>
    <th></th>
  </tr>

<% @topnames.each do |kidsname| %>
  <tr class="tabledatarow">
    <% if kidsname.gender == "f" %>
    <td><span class="girlsnames"><%= kidsname.name %></span></td>
    <% else %>
    <td><span class="boysnames"><%= kidsname.name %></span></td>
    <% end %>
    <td><b><span class="btn"><%= kidsname.score %></span></b></td>
    <td><span class="btn"><%= kidsname.count %></span></td>
    <td><button class="navbutton"><span class="glyphicon glyphicon-pencil"></span><%= link_to 'edit', edit_kidsname_path(kidsname) %></button></td>
  
  </tr>
<% end %>
</tbody>
</table>
</div>
</div>

<div class="clear"></div>

<div class="blocktableleft">
  <div class="tablebgdiv">
<a name="allgirls"></a>
<table class="table"> <a name="all">
 
    <thead><tr><b class="decoheading">Mädchen, noch im Rennen</b></tr></thead>
    <tbody>
    <th>Name</th>
    <th>Punkte</th>
    <th>Runden</th>
    <th></th>
  </tr>


<% @votegirlnames.each do |kidsname| %>
  <tr class="tabledatarow">
    <td><span class="names"><%= kidsname.name %></span></td>
    <td><b><span class="btn"><%= kidsname.score %></span></b></td>
    <td><span class="btn"><%= kidsname.count %></span></td>
    <td><button class="navbutton"><span class="glyphicon glyphicon-pencil"></span><%= link_to 'edit', edit_kidsname_path(kidsname) %></button></td>
  
  </tr>
<% end %>
</tbody>
</table>
</div>
</div>




<div class="blocktableright">
    <div class="tablebgdiv">

<a name="allboys"></a>

<table class="table"> <a name="all">
 
    <thead><tr><b class="decoheading">Jungen, noch im Rennen</b></tr></thead>
    <tbody>
    <th>Name</th>
    <th>Punkte</th>
    <th>Runden</th>
    <th></th>
  </tr>

<% @voteboynames.each do |kidsname| %>
  <tr class="tabledatarow">
    <td><span class="names"><%= kidsname.name %></span></td>
    <td><b><span class="btn"><%= kidsname.score %></span></b></td>
    <td><span class="btn"><%= kidsname.count %></span></td>
 <td><button class="navbutton"><span class="glyphicon glyphicon-pencil"></span><%= link_to 'edit', edit_kidsname_path(kidsname) %></button></td>
  
  </tr>
<% end %>
</tbody>
</table>
</div>
</div>


<div class="clear"></div>

<div class="blocktableleft">
    <div class="tablebgdiv">

<a name="out"></a>
<table class="table">
  <thead><tr>
        <b class="decoheading">Rausgeflogen</b></thead></tr></thead>
        <tbody>

    <th>Name</th>
    <th>Geschlecht</th>
    <th>Runden</th>
    <th></th>
    <th></th>
  </tr>

<% @outnames.each do |t| %>

  <tr class="tabledatarow">
    <% if t.gender == "f" %>
      <td><span class="girlsnames"><%= t.name %></span></td>
    <% else %>
      <td><span class="boysnames"><%= t.name %></span></td>
    <% end %>
    <td><span class="names"><%= t.gender %></span></td>
    <td><span class="names"><%= t.count %></span></td>
  
  </tr></tbody>
<% end %>
</table>
</div>
</div>

<a name="taken"></a>


<div class="blocktableright">
    <div class="tablebgdiv">

<table class="table">
  
        <thead><tr><span class="decoheading">Außer Konkurrenz</span></tr></thead>
<tr>
    <th>Name</th>
    <th>Geschlecht</th>
    
    <th></th>
    <th></th>
  </tr>

<% @takennames.each do |t| %>

  <tr class="tabledatarow">
    <% if t.gender == "f" %> 
      <td><span class="girlsnames"><%= t.name %></span></td>
    <% else %>
      <td><span class="boysnames"><%= t.name %></span></td>
    <% end %>
    <td><span class="names"><%= t.gender %></span></td>
    
  </tr>
<% end %>
</table>
</div>
</div>
<div class="clear"></div>
