<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @kidsname.name %>
</p>

<p>
  <b>Gender:</b>
  <%= @kidsname.gender %>
</p>

<p>
  <b>Rank:</b>
  <%= @kidsname.rank %>
</p>

<p>
  <b>Score:</b>
  <%= @kidsname.score %>
</p>


<%= link_to 'Edit', edit_kidsname_path(@kidsname) %> |
<%= link_to 'Back', kidsnames_path %>
